.text {
  width: 500px;
  height: 192px;
  background-color: #202f55;
}

.text p {
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

/*------------------------------
 アニメーション
------------------------------*/
.text {
  padding-left: 19px;
  margin-bottom: 58px;
  transition: transform .5s cubic-bezier(.28, 1.64, .58, .87), opacity .3s cubic-bezier(.215, .61, .355, 1);
  transform: translateY(40px);
  opacity: 0;
}

.text.anime-show {
  transform: translate(0);
  opacity: 1;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


.logo-fade-in {
  animation: logoFadeIn .5s cubic-bezier(.19, 1, .22, 1) 1s both
}

@keyframes logoFadeIn {
  0% {
    opacity: 0;
    pointer-events: none
  }

  99.9%,
  to {
    opacity: 1;
    pointer-events: auto
  }
}

.kv-fade-in {
  animation: kvFadeIn .8s cubic-bezier(.39, .575, .565, 1) .3s both
}

@keyframes kvFadeIn {
  0% {
    opacity: 0;
    pointer-events: none
  }

  99.9%,
  to {
    opacity: 1;
    pointer-events: auto
  }
}
.kv {
  position: relative;
}
.kv img{
  width: 100%;
}
.kv-wave::after{
  content: "";
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
img {
  pointer-events: none;
}
.test {
  pointer-events: all;
  position: relative;
  margin: 15px;
  display: block;
  display: block;
  width: 150px;
  height: 150px;
  transition: .2s ease-in-out;
}
.test:hover {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.test img {
  position: absolute;
  transition: .4s ease-in-out;
  opacity: 0;
  left: 16px;
}

.test img.active {
  left: 0;
  opacity: 1;
}